* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(180, 133, 73);
}
.card {
  width: 250px;
  padding: 20px;
  border: 5px solid #000000;
  margin: 30px;
  border-radius: 15px;
}
.card h2 {
  margin-bottom: 10px;
  color: white;
}
.card p {
  color: aqua;
  line-height: 1.5;
}
